*.class

# Mobile Tools for Java (J2ME)
.mtj.tmp/

# Package Files #
*.jar
*.war
*.ear

# virtual machine crash logs, see http://www.java.com/en/download/help/error_hotspot.xml
hs_err_pid*
/uistubgen/target/
/.idea/codeStyles/codeStyleConfig.xml
/.idea/codeStyles/Project.xml
/.idea/libraries/Maven__commons_io_commons_io_2_6.xml
/.idea/libraries/Maven__junit_junit_4_12.xml
/.idea/libraries/Maven__org_apache_bcel_bcel_6_0.xml
/.idea/libraries/Maven__org_apache_bcel_bcel_6_2.xml
/.idea/libraries/Maven__org_hamcrest_hamcrest_core_1_3.xml
/.idea/libraries/Maven__org_javassist_javassist_3_22_0_GA.xml
/.idea/.gitignore
/.idea/checkstyle-idea.xml
/.idea/compiler.xml
/.idea/encodings.xml
/.idea/misc.xml
/.idea/modules.xml
/.idea/vcs.xml
/j-j-jvm.iml
/interpreter/target/maven-status/maven-compiler-plugin/compile/default-compile/createdFiles.lst
/interpreter/target/maven-status/maven-compiler-plugin/compile/default-compile/inputFiles.lst
/interpreter/target/maven-status/maven-compiler-plugin/testCompile/default-testCompile/createdFiles.lst
/interpreter/target/maven-status/maven-compiler-plugin/testCompile/default-testCompile/inputFiles.lst
/interpreter/target/surefire-reports/com.igormaznitsa.jjjvm.JJJVMInterpreterTest.txt
/interpreter/target/surefire-reports/TEST-com.igormaznitsa.jjjvm.JJJVMInterpreterTest.xml
/interpreter/target/test-classes/com/igormaznitsa/jjjvm/testclasses/dis.txt
/interpreter/j-j-jvm-interpreter.iml
/uistubgen/dependency-reduced-pom.xml
/uistubgen/j-j-jvm-stubgen.iml
/.idea/
/interpreter/nb-configuration.xml
/interpreter/target/maven-archiver/
